{% load static %}
<link rel="stylesheet" href="{% static 'gamefinderapp/css/index-style.css' %}">
<script src="{% static 'gamefinderapp/js/index-js.js' %}"></script>
<link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
   rel = "stylesheet">
<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
<script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

<header class="header">
  <div class="container">
    <h1 class="logo">GameFinderApp</h1>
    <ul class="nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="{% url 'admin:index' %}">Admin</a></li>
    </ul>
  </div>
</header>
<div class="banner"> Welcome! </div>

    <script>
      var consoleValues = ["Personal Computer","PlayStation 4", "X Box One"];
      var consolePercentige = (1/(consoleValues.length-1))*100;
      var genreValues = [
      "Action","Adventure","Sports","Shooting","Musical","Fighting","Racing"
      ];
      var genrePercentige = (1/(genreValues.length-1))*100;
      var el;
      $(document).ready(function() {
        for(var i=0;i<consoleValues.length;i++){
        el=$('<label>'+ consoleValues[i] +'</label>').css('left',
         ((i==0) ? '0%': (i*consolePercentige)-4+'%') );
        $("#consoleSlider").append(el);
        }
        for(var x=0;x<genreValues.length;x++){
        el=$('<label>'+ genreValues[x] +'</label>').css('left',
         ((x==0) ? '0%': (x*genrePercentige)-4+'%') );
        $("#genreSlider").append(el);
        }
        
      });
      
      $(function() {
          $( "#consoleSlider" ).slider({
            value:0,
            min:0,
            max:2
          });
       });

        $(function() {
          $( "#genreSlider" ).slider({
            value:0,
            min:0,
            max:6
          });
       });

        $(function() {
          $( "#ageSlider" ).slider({
            value:0,
            min:0,
            max:100,
            slide: function(event,ui){
              $("#ageLabel").html(ui.value);
            }
          });
          $("#ageLabel").html( $("#ageSlider").slider("value"));
       });

       function onClickClear(){
        $("#consoleSlider").slider("value",0);
        $("#genreSlider").slider("value",0);
        $("#ageSlider").slider("value",0);
        $("#ageLabel").html("0");
        }

        function onClickSubmit(){
          var consoleParam, genrePparam, agePparam;
          consoleParam = consoleValues[$("#consoleSlider").slider("value")];
          genrePparam = genreValues[$("#genreSlider").slider("value")];
          agePparam = $("#ageSlider").slider("value");
          window.location.href = "/"+consoleParam+"/"+genrePparam+"/"+agePparam+"/results";
        }
    </script>
    <div class="container">
      <h2>What is Lorem Ipsum?</h2>
      <p><b>Lorem Ipsum </b>is simply dummy text of he printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

      <div id="sliders" >
          <p>Console:</p>
          <div id="consoleSlider" style="margin-bottom:80px"></div>
          <p>Genre:</p>
          <div id="genreSlider" style="margin-bottom:80px"></div>
          <div id="ageSlider" style="margin-bottom:80px">
            <label>Age: <span id="ageLabel"></span></label>
          </div>
      </div>
      <script></script>
      <span style="float:right; margin-bottom:50px"><button id="clearBtn" onclick="onClickClear()">Clear Info</button>
        <button id="submintBtn" style="margin-left:10px" onclick="onClickSubmit()">Submit</button></span>

</div>



<div class="bottom-nav fixed-bottom">
  <ul class="nav">
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
    <li><a href="#"><i class="fa fa-rss"></i></a></li>
  </ul>
</div>
<footer class="footer">
  <div class="container">
    <ul class="nav">
      <li><a href="#fake">Terms and Conditions</a> </li>
      <li>|</li>
      <li><a href="#fake">Search Terms</a> </li>
      <li>|</li>
      <li><a href="#fake">Privacy Notification</a> </li>

    </ul>
  </div>
  <p class="copy"> Copy rights @ </p>
</footer>